html, body {
  height:100%;
}

body {
  display:flex;
  align-items:center;
  background-color: black;
}

#background, #home-wrapper{
  display: none;
}

.vertical-center {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

#home {
  /* display: none; */
  display: block;
  width: 100%;
  background:rgba(255,255,255,0.3);
  border-radius: 10px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  transition: color 2s ease;
  color: white;
}

.home {
  display: flex;
  height: 100%;
  min-height: 100vh;
  margin-bottom: 0;
  padding: 50px;
}

#name {
  diplay: fixed;
  font-family: 'Ubuntu', sans-serif;
  font-size: 10vw;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 20px;
  margin-right: 20px;
}

#factwrapper {
  /* display: none; */
  display: block;
}

#fact {
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
  overflow: hidden;
  white-space: nowrap;

}


.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}

.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
  	min-width: 100%;
  	min-height: 100%;
  	-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
	  transform: translate(-50%, -50%);
}

/*
  TYPING CURSOR STUFF
 */

.typed-cursor{
	opacity: 1;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}

@keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}

/*
  Awesomefont Icons
*/

.fa {
  text-decoration: none;
  color: white;
  font-size: 40px;
  padding: 1.5vw;
  margins: 2vw;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: var(--c-background);
  border-radius: 1vw;
}

.fa:hover , .fa:active, .fa:visited, .fa:focus {
  color: white;
  text-decoration: none;
}


.fa-linkedin:hover {
  background-color: #0073a4;
}

.fa-github:hover {
  color: white;
  background-color: black;
}

.reverse:hover{
  color: white !important;
}

.fa-stack-overflow:hover {
  background-color: #FF9900;
}

.fa-instagram:hover {
  background-color: #fb3958;
}

.fa-envelope:hover {
  background-color: #00693e;
}

/*
 PRELOADER
*/

.preloader {
  margin: auto;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
}

.preloader .line {
  width: 2px;
  height: 20px;
  background: #fff;
  margin: 0 1px;
  display: inline-block;
  animation: opacityp 1000ms infinite ease-in-out;
}

.preloader .line-1 { animation-delay: 800ms; }
.preloader .line-2 { animation-delay: 600ms; }
.preloader .line-3 { animation-delay: 400ms; }
.preloader .line-4 { animation-delay: 200ms; }
.preloader .line-6 { animation-delay: 200ms; }
.preloader .line-7 { animation-delay: 400ms; }
.preloader .line-8 { animation-delay: 600ms; }
.preloader .line-9 { animation-delay: 800ms; }

@keyframes opacityp {
  0% {
    opacity: 1;
    height: 15px;
  }
  50% {
    opacity: 0;
    height: 12px;
  }
  100% {
    opacity: 1;
    height: 15px;
  }
}
  
