/*
Style Guide:
Stormy: #494E6B
Cloud: #98878F
Sunset: #985E6D
Evening: #192231
*/

@font-face {
  font-family: OstrichSansInline;
  src: url(fonts/OstrichSansInline-Regular.otf);
}
@font-face {
  font-family: OstrichSansLight;
  src: url(fonts/OstrichSans-Light.otf);
}

html, body {
  color: white;
}

.navbar.navbar-default {
    background-color: #192231;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: OstrichSansInline;
    font-size: 35px;
}

.navbar.navbar-default .navbar-collapse {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

ul.nav a:hover {
  color: #985E6D !important;
}

ul.nav a:active {
  color: #494E6B !important;
}

.navbar-nav.navbar-right li a {
    color: white;
}

.home {
  height: 100%;
  min-height: 100vh;
  background-color: #192231;
  margin-bottom: 0;
}

.vertical-center {
  min-height: 100vh;

  display: flex;
  align-items: center;
}

#name {
  diplay: fixed;
  font-family: OstrichSansLight;
  font-size: 120px;
}

#fact {
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
}


#propic {
  height: 50vh;
  width: 45vh;
  display: block;
  margin: auto;
}

.section {
  padding-top: 40px;
  padding-bottom: 20px;
  overflow: auto;
  padding-left: 50px;
  padding-right: 50px;
  min-height: 100vh;
  height: auto;
  color: white;
}

.header {
  font-family:OstrichSansLight;
  font-size: 14vh;
  margin-bottom: 20px;
}

.infop {
  font-family: 'Roboto Mono', monospace;
  font-size: 3.5vh;
}

#about {
  background-color: #494E6B;
}

/*
#portfolio {
  background-color: #98878F;
}
*/
#contact {
  background-color: #98878F;
}

.typed-cursor{
	opacity: 1;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}
@keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
